<div id="js-recategorize-questions-actions" class="hide">
  <%= form_tag(update_category_questions_path, method: :post, remote: true, id: "js-form-recategorize-questions", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% questions.each do |question| %>
        <%= check_box_tag "question_ids[]", question.id, false, class: "js-check-all-question js-question-id-#{question.id}" %>
      <% end %>
    </div>

    <%= bulk_categories_select current_component.categories %>

    <%= submit_tag(t("decidim.questions.admin.questions.index.update"), id: "js-submit-edit-category", class: "button small button--simple float-left") %>

    <button id="js-cancel-edit-category" class="button tiny clear compact" type="button"><%= t("decidim.questions.admin.questions.index.cancel") %></button>
  <% end %>
</div>
