<tr data-id="<%= question.id %>">
  <td>
    <%= check_box_tag "question_ids_s[]", question.id, false, class: "js-check-all-question js-question-list-check  js-question-id-#{question.id}" %>
    <br/>
  </td>
  <% if component_settings.amendments_enabled && !(params[:q] && params[:q][:is_emendation_true].present?) %>
    <td>
      <span class="table-list__type-icon" data-toggle="<%= type_label_for_all(questions) %>">
        <% if question.emendation? %>
          <%= icon "paperclip", aria_label: t("decidim/amendment", scope: "activerecord.models", count: 1) %>
        <% else %>
          <%= icon "file", aria_label: t("decidim/questions/question", scope: "activerecord.models", count: 1) %>
        <% end %>
      </span>
    </td>
    <td>
      <span id="<%= type_label_for(question) %>" class="table-list__type-label" data-toggler=".expanded">
        <% if question.emendation? %>
          <%= t("decidim/amendment", scope: "activerecord.models", count: 1) %>
        <% else %>
          <%= t("decidim/questions/question", scope: "activerecord.models", count: 1) %>
        <% end %>
      </span>
    </td>
  <% end %>
  <td>
    <%= question.short_ref if %w(evaluating pending accepted).include?(question.state) && !question.emendation? %><br/>
  </td>
  <td>
    <%= present(question).title %><br/>
  </td>
  <% unless params[:q] && params[:q][:category_id_eq] %>
    <td>
      <% if question.category %>
        <%= translated_attribute question.category.name %>
      <% end %>
    </td>
  <% end %>
  <% if current_participatory_space.scopes_enabled? && current_participatory_space.has_subscopes? %>
    <td>
      <% if question.scope %>
        <%= translated_attribute question.scope.name %>
      <% else %>
        <%= t("decidim.scopes.global") %>
      <% end %>
    </td>
  <% end %>
  <% unless params[:q] && params[:q][:state_eq] %>
    <td>
      <strong class="<%= question_state_css_class question.state %>">
        <%= humanize_question_state question.state %>
      </strong>
    </td>
  <% end %>

  <% if current_settings.votes_enabled? %>
    <td>
      <%= question.question_votes_count %>
    </td>
  <% end %>

  <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
    <td>
      <%= question.comments.count %>
    </td>
  <% end %>

  <td>
    <%= l question.created_at, format: :decidim_short %>
  </td>

  <td>
    <% unless question.first_interacted_at.nil? %>
      <%= t("decidim.datetime.timeago", time: time_ago_in_words(question.first_interacted_at)) %>
    <% end %>
  </td>

  <td class="table-list__actions">
    <% if allowed_to? :edit, :question %>
      <%= icon_link_to "pencil", edit_question_path(question), t("actions.edit_question", scope: "decidim.questions"), class: "action-icon--edit-question" %>
    <% end %>

    <% if allowed_to? :create, :question_note %>
      <%= icon_link_to "chat", question_question_notes_path(question_id: question.id), t("actions.private_discussions", scope: "decidim.questions"), class: "action-icon--index-notes" %>
    <% end %>

    <% if allowed_to? :create, :question_answer and !question.emendation? %>
      <%= icon_link_to "comment-square", edit_question_question_answer_path(question_id: question.id, id: question.id), t("actions.answer", scope: "decidim.questions"), class: " icon--small" %>
    <% else %>
      <%= icon "comment-square", scope: "decidim.questions.admin", class: "action-icon action-icon--disabled" %>
    <% end %>

    <%= resource_permissions_link(question) %>

    <%= icon_link_to "eye", resource_locator(question).path, t("actions.preview", scope: "decidim.questions.admin"), class: "action-icon--preview", target: :blank %>
  </td>
</tr>
