<%= stylesheet_link_tag "decidim/questions/admin/questions" %>
<%= decidim_form_for(@form, html: { class: "form new_question" }) do |f| %>
  <%= render partial: "form", object: f, locals: { title: t(".title") } %>

  <div class="button--double form-general-submit">
    <%= f.submit t(".create") %>
  </div>
<% end %>

<%= javascript_include_tag "decidim/questions/admin/form" %>
