<div id="js-merge-questions-actions" class="hide js-bulk-action-form">
  <%= form_tag(questions_merge_path, method: :post, id: "js-form-merge-questions", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% questions.each do |question| %>
        <%= check_box_tag "question_ids[]", question.id, false, class: "js-check-all-question js-question-id-#{question.id}" %>
      <% end %>
    </div>

    <%= bulk_components_select((current_component.siblings + [current_component])) %>

    <%= submit_tag(t("decidim.questions.admin.questions.index.merge_button"), id: "js-submit-merge-questions", class: "button small button--simple float-left") %>

    <button id="js-cancel-merge-questions" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.questions.admin.questions.index.cancel") %></button>
  <% end %>
</div>
