<div class="card-section">
  <div class="row column">
    <strong><%= t ".author" %>: </strong>
    <%= cell("decidim/coauthorships", question, has_actions: true, size: 3, context: { current_user: current_user }) %>
  </div>
</div>

<div class="card-section">
  <div class="row column">
    <strong><%= t ".body" %>: </strong>  <%= present(question).body %>
  </div>
  <div class="row column">
    <strong><%= t ".created_at" %>: </strong> <%= l question.created_at, format: :decidim_short %>
  </div>
  <div class="row column">
    <strong><%= t ".question_votes_count" %>: </strong> <%= question.question_votes_count %>
  </div>
</div>

