<div class="card-section">
  <div class="row column">
    <%= cell("decidim/coauthorships", question, size: 3, context: { current_user: current_user }) %>
  </div>
  <div class="row column">
    <div class="body-wrapper">
      <%= icon "double-quote-serif-right" %>
      <%= present(question).body %>
    </div>
  </div>
  <div class="row column">
    <strong><%= t ".created_at" %>: </strong> <%= l question.created_at, format: :decidim_short %>
  </div>
  <div class="row column">
    <strong><%= t ".question_votes_count" %>: </strong> <%= question.question_votes_count %>
  </div>
</div>
