<div class="card-divider">
  <div class="card-title flex--sbc">
    <h2 class="question-title flex--cc">
      <%= link_to "#{t ".questions"}", questions_path %>
      &nbsp;&gt;&nbsp;
      <% if question %>
        <% if question.short_ref.blank? %>
          <%= link_to present(question).title, question.path %>
        <% else %>
          <%= link_to question.short_ref + ' • ' + present(question).title, question.path %>
        <% end %>
      <% else %>
        <%= t(".new_question") %>
      <% end %>
    </h2>
    <%= render partial: "decidim/questions/admin/shared/question_actions", locals: { question: question } %>
  </div>
</div>
