<section class="section row collapse highlighted_questions">
  <h4 class="section-heading">
    <%= translated_attribute(model.name) %>  <a href="<%= main_component_path(model) %>" class="text-small"><%= t("decidim.participatory_spaces.highlighted_questions.see_all", count: questions_count) %></a>
  </h4>

  <%= cell(
    "decidim/collapsible_list",
    questions_to_render,
    cell_options: {},
    list_class: "row small-up-1 medium-up-2 card-grid",
    size: questions_count
    ) %>

  <%= link_to(
    t("decidim.participatory_spaces.highlighted_questions.see_all", count: questions_count),
    main_component_path(model),
    class: "button button--sc light secondary button--right"
  ) %>
</section>
