<% add_decidim_meta_tags({
  description: present(@question).body,
  title: present(@question).title,
  url: question_url(@question.id)
}) %>

<%
edit_link(
  resource_locator(@question).edit,
  :edit,
  :question,
  question: @question
)
%>

<%= render partial: "voting_rules" %>
<% if component_settings.participatory_texts_enabled? %>
  <div class="row column">
    <div class="section text-medium">
      <%= t(".back_to") %> <u><%= link_to translated_attribute(@participatory_text.title), main_component_path(current_component) %></u>
    </div>
  </div>
<% end %>
<%= emendation_announcement_for @question %>
<div class="row column">
  <h2 class="heading2"><%= @question.short_ref + ' • ' + present(@question).title(links: true) %></h2>
  <% unless component_settings.participatory_texts_enabled? %>
    <%= cell("decidim/coauthorships", @question, has_actions: true, size: 3, context: { current_user: current_user }) %>
  <% end %>
</div>
<div class="row column">
  <strong><%= t "created_at", scope:"decidim.questions.admin.shared.info_question" %>: </strong> <%= l @question.created_at, format: :decidim_short %>
  <% if %w(accepted).include?(@question.state) %>
    &emsp;
    <strong><%= t "published_at", scope:"decidim.questions.admin.shared.info_question" %>: </strong> <%= l @question.published_at, format: :decidim_short %>
  <% end %>
</div>
<div class="row">
  <div class="columns section view-side mediumlarge-4 mediumlarge-push-8 large-3 large-push-9">
    <% unless @question.emendation? %>
      <div class="card text-center">
        <div class="card__content">
          <div>
            <strong class="text-large text-uppercase">
              <%= t("version", scope:"decidim.questions.collaborative_drafts.show", number: @question.versions_count) %>
            </strong>
            <small class="text-medium">
              <%= t("of_versions", scope:"decidim.questions.collaborative_drafts.show", number: @question.versions_count) %>
            </small>
          </div>

          <div>
            <span class="text-medium">
              <%= link_to t("see_other_versions", scope:"decidim.questions.collaborative_drafts.show"), question_versions_path(@question) %>
            </span>
          </div>
        </div>
      </div>
    <% end %>
    <% if allowed_to?(:edit, :question, question: @question) %>
      <%= link_to t(".edit_question"), edit_question_path(@question), class: "button secondary hollow expanded button-sc button--icon follow-button" %>
    <% else %>
      <%= amend_button_for @question %>
    <% end %>

    <%= emendation_actions_for @question %>

    <% if current_settings.votes_enabled? || show_endorsements_card? || current_user %>
      <div class="card">
        <div class="card__content">
          <% if current_settings.votes_enabled? %>
            <%= render partial: "votes_count", locals: { question: @question, from_questions_list: false } %>
            <%= render partial: "vote_button", locals: { question: @question, from_questions_list: false } %>
          <% end %>
          <%= render partial: "endorsements_card_row", locals: { question: @question } %>
          <br />
          <%= follow_button_for(@question) %>
        </div>
      </div>
    <% end %>

    <%= amenders_list_for(@question) %>

    <%= resource_reference(@question) %>
    <%= cell("decidim/fingerprint", @question) %>
    <%= render partial: "decidim/shared/share_modal" %>
    <%= embed_modal_for question_question_widget_url(@question, format: :js) %>
    <%= cell "decidim/questions/question_link_to_collaborative_draft", @question %>
  </div>
  <div class="columns mediumlarge-8 mediumlarge-pull-4">
    <div class="section">
      <% if component_settings.upstream_moderation && @question.upstream_pending? %>
        <div class="callout warning">
          <%= t("decidim.shared.upstream_moderation.pending_info") %>
        </div>
      <% end %>
      <br>
      <%== cell("decidim/questions/question_m", @question, full_badge: true).badge %>
      <br>
      <% unless @question.participatory_text_level == "section" || @question.participatory_text_level == "subsection" %>
        <%= simple_format present(@question).body(links: true) %>
      <% end %>
      <% if component_settings.geocoding_enabled? %>
        <%= render partial: "decidim/shared/static_map", locals: { icon_name: "questions", geolocalizable: @question } %>
      <% end %>
      <%= cell "decidim/questions/question_tags", @question %>
    </div>
    <% if @question.answered? && translated_attribute(@question.answer).present? %>
      <% if @question.accepted? %>
        <div class="section">
          <div class="callout success">
            <h5><%= t(".question_accepted_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @question.answer %></p>
          </div>
        </div>
      <% elsif @question.rejected? %>
        <div class="section">
          <div class="callout warning">
            <h5><%= t(".question_rejected_reason") %></h5>
            <p><%= decidim_sanitize translated_attribute @question.answer %></p>
          </div>
        </div>
      <% else %>
        <div class="section">
          <div class="callout secondary">
            <h5><%= t(".question_in_evaluation_reason") %></h5>
          </div>
        </div>
      <% end %>
    <% end %>
    <%= linked_resources_for @question, :results, "included_questions" %>
    <%= linked_resources_for @question, :projects, "included_questions" %>
    <%= linked_resources_for @question, :meetings, "questions_from_meeting" %>
    <%= linked_resources_for @question, :questions, "copied_from_component" %>

    <%= cell "decidim/questions/endorsers_list", @question, context: { current_user: current_user } %>
    <%= amendments_for @question %>
  </div>
</div>
<%= attachments_for @question %>

<%= comments_for @question %>

<%= javascript_include_tag "decidim/questions/social_share" %>
<%= stylesheet_link_tag "decidim/questions/social_share" %>

<%=
  render partial: "decidim/shared/flag_modal", locals: {
    reportable: @question,
    form: @report_form,
    url: decidim.report_path(sgid: @question.to_sgid.to_s)
  }
%>
