<div class="row">
  <%= render partial: "wizard_aside" %>

  <div class="columns large-6">
    <%= render partial: "wizard_header", locals: { callout_help_text_class: "warning" } %>
    <div class="card">
      <div class="p-l">
        <%= render partial: "question_preview", locals: { question: @question } %>
        <div class="row column flex-center">
          <%= link_to t(".modify"), edit_draft_question_path(@question) %>

          <%= button_to t(".publish"), publish_question_path(@question), method: :post, class: "button button--nomargin small" %>
        </div>
      </div>
    </div>
  </div>
  <div class="columns large-3"></div>
</div>
